@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: "Jost", sans-serif;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
hr {
  padding: 0;
  margin: 0;
}
.btn {
  border-radius: 0.3125rem;
  border: none;
  outline: none;
  padding: 0.625rem;
}
.container {
  width: 1110px;
  margin: auto;
}
.wide-container {
  width: 1380px;
  margin: auto;
}
/* .section {
  margin-top: 72px;
} */
.navbar-top-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.top-menu-wrapper {
  display: flex;
  align-items: center;
}
.navbar-top-list,
.nav-top-social,
.navbar-bottom-wrapper {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navbar-top-wrapper {
  margin: 10px 0;
}

.navbar-top-list,
.top-menu-wrapper {
  gap: 1.875rem;
}
.nav-top-social {
  gap: 0.5625rem;
}
.navbar-top-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
}
.nav-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #282739;
  justify-content: flex-end;
}
.top-border {
  width: 100%;
  height: 0.0625rem;
  margin: 0;
  padding: 0;
  background-color: #ecf3ff;
  border: 0;
}
.mobile-logo-wrapper {
  display: none;
}
.navbar-bottom-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 37px;
  justify-content: space-between;
}
.nav-btn {
  background-color: #6f73ee;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #ffffff;
  /* padding-left: 1.125rem;
  padding-right: 1.125rem; */
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 40px;
  padding: 17px;
}
.nav-btn-toggle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  width: 15px;
  height: 12px;
  margin-right: 13px;
}
.nav-btn-burger {
  width: 13px;
  height: 1px;
  background-color: #fff;
  transition: transform 0.3s;
  margin: 0;
  padding: 0;
}
.nav-btn-burger:nth-child(3) {
  width: 40%;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 605px;
  height: 40px;
  border: 1px solid #6f73ee;
  border-radius: 5px;
  padding-left: 20px;
  margin-right: 22px;
}
.search-input {
  width: 540px;
  height: 100%;
  padding: 0;
  border: none;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  background-color: #6f73ee;
  border: none;
}
.menu-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.menu-icon-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
}
/* / Меню */

/* header */
.header {
  height: 445px;
  margin: auto;
  padding: 56px 0;
  border-radius: 10px;
  background: linear-gradient(
    73.21deg,
    #6f73ee 17.37%,
    rgba(111, 115, 238, 0) 67.02%
  );
}
/* .no-webp .header-image {
  background: url(../img/header_bg.jpg);
} */
.header-image {
  /* background: url(../img/header_bg.webp) center center/cover no-repeat; */
  background: url(../img/header_bg.jpg) 257px -152px/82% no-repeat;
  border-radius: 10px;
}
.location-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
address {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}
.time-info {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.7;
}
h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 20px;
}
.header-offer {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}
.header-features {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-top: 28px;
}
.header-features-block {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 235px;
}
.header-features-icon-block {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
  /* background: #ffffff;
  opacity: 0.2;
  border-radius: 5px; */
}
.header-features-bg {
  width: 40px;
  height: 40px;
  background: #ffffff;
  opacity: 0.2;
  border-radius: 5px;
  position: absolute;
}
.header-features-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}
.header-btn {
  margin-top: 38px;
  padding: 15px 40px;
  background-color: #fff;
  color: #6f73ee;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}
/* / header */

/* Description */
.model-info-block {
  margin-top: 72px;
}
.model-info-second-block {
  margin-top: 100px;
}
.model-description-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}
.model-description-second-content {
  display: flex;
  align-items: center;
  gap: 95px;
}
.model-description-wrapper {
  margin-left: 135px;
}
.model-info-second-block .model-description-wrapper {
  margin-left: 0;
}
.model-description-title {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #282739;
  margin: 0;
  padding: 0;
}
.left-align-description {
  margin-left: 0 !important;
}
.model-description-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #282739;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}
.description-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.description-list {
  margin: 0;
  padding: 0;
  margin-top: 18px;
}
.model-description-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 515px;
  height: 422px;
  flex-wrap: nowrap;
  flex-shrink: 0;
}
.model-description-second-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 515px;
  height: 462px;
  flex-wrap: nowrap;
  flex-shrink: 0;
}
.model-info-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.scooter-test-img {
  object-position: -166px;
}
/* / Description */
/* Shop-list */
.shop-list-section {
  margin-top: 102px;
}
.shop-list-title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
  color: #282739;
  margin-bottom: 0;
}
.shop-list-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shop-item {
  width: 255px;
  border: 1px solid #eaebed;
  border-radius: 10px;
  margin-top: 30px;
}
.item-img-wrapper {
  position: relative;
  width: 100%;
  height: 231px;
}
.item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.label {
  position: absolute;
}
.sale-label {
  background-color: #ee685f;
  padding: 5px 8px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  top: 8px;
  left: 11px;
}
.compare-label {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2.5px);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-info-wrapper {
  padding: 20px 25px 20px 24px;
}
.item-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
  margin: 0;
  padding: 0;
}
.features-list-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 25px;
}
.feaures-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* columns: 2 auto; */
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
.feaures-item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.features-icon {
  margin-right: 6px;
}
.sale-price {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: #5d6c7b;
}
.price-block-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11px;
}
.main-price {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #282739;
}
.item-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.item-btn {
  background: #6f73ee;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  width: 206px;
  margin-top: 16px;
}
.item-action-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #eaebed;
}
/*  */
/* CTA */
.cta-section {
  margin-top: 100px;
}
.cta {
  height: 445px;
  background: #f4f7fb;
  border-radius: 10px;
  padding-top: 88px;
  position: relative;
}
.cta-title {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #282739;
  margin: 0;
  padding: 0;
}
.cta-text {
  margin: 0;
  padding: 0;
  margin-top: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #282739;
  margin-bottom: 20px;
}
.cta-input {
  width: 263px;
  height: 53px;
  left: 166px;
  top: 2762px;
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 5px;
  padding: 15px 25px;
}
.cta-btn {
  background: #6f73ee;
  border-radius: 5px;
  padding: 15px 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin-left: 17px;
}
.cta-policy {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #282739;
}
.checkbox-wrapper {
  display: block;
  margin-top: 20px;
  display: flex;
  /* align-items: center; */
  gap: 10px;
}
.checkbox {
  margin-top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #fff;
  outline: none;
}
.cta-img-wrapper {
  position: absolute;
  width: 410px;
  height: 494px;
  bottom: 0;
  right: 180px;
}
.cta-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* / CTA */

/* SUB */
.sub-section {
  background-color: #6f73ee;
  margin-top: 100px;
  padding: 7px 0;
}
.sub-section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}
.sub-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 15px 25px;
  width: 410px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  height: 53px;
}
.sub-btn {
  background: #ffffff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #6f73ee;
  height: 53px;
  margin-left: 15px;
  padding: 15px 25px;
}

/* Footer */
.footer {
  background-color: #f4f7fb;
}
.footer-menu {
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 63px;
}
.footer-menu-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
  margin: 0;
  padding: 0;
}
.footer-menu-list {
  list-style: none;
  margin: 0;
  margin-top: 17px;
  padding: 0;
}
.footer-menu-item {
  margin-bottom: 10px;
}
.footer-menu-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #282739;
}
.footer-menu-info {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
}
.footer-menu-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #282739;
}
.footer-menu-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5d6c7b;
}
.footer-cta-link {
  display: block;
  margin-top: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #6f73ee;
}
.footer-menu-second-block {
  margin-left: 85px;
}
.footer-menu-third-block {
  margin-left: 23px;
}
.menu-2-columns {
  columns: 2 auto;
}
.menu-2-columns .footer-menu-item {
  margin-right: 30px;
}

.footer-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 0;
}
.footer-logo_apps {
  display: flex;
  align-items: center;
  gap: 60px;
}
.footer-aps {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}
.net-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
}
.net-icon {
  margin: 0;
  padding: 0;
}
.net-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.network-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
  margin: 0;
  padding: 0;
}
.network-count {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #5d6c7b;
  margin: 0;
  padding: 0;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 19px;
  padding-top: 1px;
}
.footer-bottom-links {
  display: flex;
  gap: 44px;
}
.footer-bottom-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
}
.social-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
}
.footer-bottom-payment_social {
  display: flex;
  align-items: center;
  gap: 38px;
}
.footer-bottom-social {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-bottom-payment {
  display: flex;
  align-items: center;
  gap: 5px;
}
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  transition: opacity 0.3s;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-dialog {
  transform: translateY(0);
}
.modal-dialog {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 790px;
  height: 590px;
  background-color: #fff;
  margin: auto;
  padding: 40px;
  position: relative;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.modal-title {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-transform: uppercase;
  color: #282739;
}
.modal-form-offer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #282739;
}
.modal-form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
}
.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
}
.modal-img {
  width: 337px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.modal-form {
  margin-top: 86px;
  display: flex;
  flex-direction: column;
}
#modal-input {
  width: 263px;
  height: 53px;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 5px;
  padding: 15px 25px;
}
.modal-form-btn {
  margin-top: 20px;
  width: 263px;
  height: 53px;
  background-color: #6f73ee;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
.modal-close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}
@media (max-width: 1440px) {
  .wide-container {
    width: 1180px;
  }
  .header-image {
    background: url(../img/header_bg.jpg) center -170px/100% no-repeat;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .wide-container {
    width: 1010px;
  }
  .header-image {
    background: url(../img/header_bg.jpg) center -110px/ 100% no-repeat;
  }
  .search-form {
    width: 370px;
  }
  .search-input {
    width: 330px;
  }
  .model-description-content,
  .model-description-second-content {
    flex-wrap: wrap;
    gap: 30px;
  }
  .model-description-wrapper {
    margin: 0;
  }
  .description-list-item .icon {
    flex-shrink: 0;
  }
  .cta-img-wrapper {
    right: 30px;
  }
  .sub-form {
    display: flex;
  }
  .footer-menu-second-block {
    margin-left: 50px;
  }
  .footer-menu-third-block {
    margin-left: 0;
  }
  .menu-2-columns {
    columns: 1;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 870px;
  }
  .wide-container {
    width: 900px;
  }
  .header {
    padding: 35px;
  }
  .header-image {
    background: url(../img/header_bg.jpg) center / 100% no-repeat;
  }
  .cta-img-wrapper {
    right: 0;
    height: 350px;
    width: 330px;
  }
  .footer-logos {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
@media (max-width: 960px) {
  .container {
    width: 640px;
  }
  .wide-container {
    width: 700px;
  }
  .search-form {
    width: 230px;
  }
  .search-input {
    width: 180px;
  }
  .cart-btn {
    display: none;
  }
  .header-image {
    background: url(../img/header_bg.jpg) center/130% no-repeat;
  }
  .cta-img-wrapper {
    display: none;
  }
  .sub-section-wrapper {
    flex-direction: column;
  }
  .sub-input {
    width: 70%;
  }
  .footer-bottom {
    flex-wrap: wrap;
    padding-top: 15px;
  }
  .modal-dialog {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .wide-container {
    width: 670px;
  }
  .header-image {
    margin-top: 50px;
  }
  .nav-top-content,
  .nav-bottom,
  .top-border {
    display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu-toggle {
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 23px;
    gap: 10px;
    min-height: 65px;
    min-width: 75px;
    border-right: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
  }
  .mobile-menu-line {
    width: 100%;
    height: 2px;
    background-color: #aeaeae;
    transition: transform 0.3s;
  }
  .free-block {
    width: 80px;
    height: 100%;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(6px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-7px);
  }
  .mobile-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .modal-dialog {
    align-items: center;
  }
  .modal-img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
}
@media (max-width: 670px) {
  h2 {
    font-size: 21px !important;
    line-height: 27px !important;
  }
  .wide-container {
    width: 95%;
  }
  .container {
    width: 90%;
  }
  .header {
    height: auto;
  }
  .header-image {
    background: url(../img/header_bg.jpg) -400px center/190% no-repeat;
  }
  .location-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cta {
    height: auto;
    padding: 30px;
  }
  .cta-title {
    text-align: center;
  }
  .cta-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .cta-input,
  .cta-btn {
    width: 100%;
    margin: 0;
  }
  .footer-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-menu-second-block {
    margin: 0;
  }
  .modal-img {
    display: none;
  }
}
@media (max-width: 576px) {
  .header-features {
    flex-wrap: wrap;
    gap: 15px;
  }
  .header-image {
    /* background: url(../img/header_bg.jpg) right bottom/290% no-repeat; */
    background: url(../img/header_bg.jpg) -700px -230px/290% no-repeat;
  }
  .model-description-img-wrapper,
  .model-description-second-img-wrapper {
    width: 100%;
  }
  .shop-list-wrapper {
    justify-content: center;
  }
}
@media (max-width: 510px) {
  .header-image {
    background: url(../img/header_bg.jpg) -700px bottom/290% no-repeat;
  }
  h1 {
    font-size: 21px;
    line-height: 27px;
  }
  .footer-logo_apps,
  .footer-networks,
  .footer-bottom-payment_social,
  .footer-bottom-payment {
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media (max-width: 390px) {
  .header-image {
    background: url(../img/header_bg.jpg) -800px -230px/390% no-repeat;
  }
  .sub-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .sub-input,
  .sub-btn {
    width: 90%;
    margin: 0;
  }
  #modal-input,
  .modal-form-btn {
    width: 90%;
  }
}
@media (max-width: 390px) {
  .header-image {
    background: url(../img/header_bg.jpg) -900px -250px/500% no-repeat;
  }
}
